.main-form{
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr auto;
    @media (min-width:1080px){
       padding: 65px;
    }
    .my-form{
       grid-column: 1;
       grid-row: 1;
    }
    .btn-suscription{
        grid-column:2;
        grid-row: 1;
        width: 158px;
        float: right;
        transform: rotate(90deg);
        @media (min-width:1080px){
            width: 230px;
            height: 100px;
            
         }
    
    }}
.container1{
    width: 100%;
    display: grid;
    grid-template-rows:auto auto auto ;
.image{
    width: 100%;
    grid-row: 1;
    padding: auto;
}
.main_text{
    grid-row: 2;
    padding: auto;
    width: 100%;
    }
.main-form{
    grid-row:3;
}    
 @media (min-width:1080px){
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto auto;

    .navbar {
        width: 100%;
        grid-row:1;
    }
    .main{
        grid-row: 2/3;
        padding: 0%;
        
    }
    .main__container{
        grid-column: 1;
        width: 100%;
  
    }
    .main_text{
        grid-column: 1;
        width: 40%;
        margin-top: 100px !important;
        }
    .main-form{
        grid-column: 1;
        width: 40%;
        margin-bottom: 0;
       
    }    
    .image{
        grid-column: 2;
        float:right;
        width: 60%;
        
    }
 }
}
